body {
  background: #333;
  color: #fff;
  margin: 0;
}

#c {
  background: #000;
  display: block;
  margin: auto;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  width: 100vmin;
  height: 100vmin;
}

.i {
	filter: invert(100%);
}
